@media (min-width: 1366px){
    .container {
        max-width: 1366px;
    }
    #header .container,
    .copyright-block .container,
    .instagram-block .container,
    .container.project-banner,
    .form-map .container,
    .container.home-banner,
    .project-filter .container
    {
        padding-left: 0;
        padding-right: 0;
    }

}


.mbl-call,
.copyright-block p br{
    display: none;
}

@media (width:768px){
    #header .site-logo {
        max-width: 200px;
    }
    .featured-work .col-lg-4:not(:nth-child(3n)) .work-block {
        margin: 0;
    }
     .featured-work .col-lg-4{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
     }
    .work-block {
        margin: 0;
    }
    .work-block {
        padding: 6px;
    }
    .copyright-block .footer-links {
        float: left;
        display: flex;
        width: 100%;
        position: relative;
        left: -4px;
    }
    #top-social {
        width: 100%;
        padding-left: 4px;
    }
    .copyright-block #top-social{
    display: flex;
    width: 100%;
    position: relative;
    left: -4px;
    }
}

@media (max-width:1024px){
    .copyright-block p {
        font-size: 16px;
    }
}
@media (max-width:768px){
    .copyright-block p {
        font-size: 16px;
        margin-top: 10px;
    }
    .copyright-block .footer-links li a {
        font-size: 16px;
    }
    .copyright-block {
        height: auto;
    }
    .copyright-block #top-social {
        padding-bottom: 15px;
    }
    .copyright-block .footer-links li a {
        padding-top: 0;
    }
    #header #top-social {
        left: -15px;
        position: relative;
    }
    
}
@media (max-width: 480px) {
    #site-wrapper.shiftRight {
        left: 315px;
    }
    .featured-work .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .work-block .work-image {
        height: 185px;
        width: 100%;
    }
    .featured-work .col-lg-4 .work-block {
        margin-right: 13px;
    }

    #menu-text {
        font-size: 0 !important;
    }
    .slider-for img {
        width: 384px;
        height: 370px;
        object-fit: cover;
    }
    #header .site-logo {
        max-width: 190px;
    }
    .mbl-call {
        display: block;
    }
    .mbl-call img {
        width: 23px;
        height: 23px;
        display: inline-block;
    }
    #header #top-social{
        display: none;
    }
    .right-top-sldr .slick-list.draggable:after {
        display: none;
    }  
    .right-banner .slider-nav .slick-dots li {
        display: inline-block;
        padding-right: 16px;
    }
    .right-banner .slider-nav .slick-dots {
        bottom: 0px;
        left: 0;
        width: 100%;
        padding-left: 0;
        top: auto;
        margin-bottom: 6px;
    }
    .right-banner .slider-nav h2{
        font-size: 32px;
    }
    .right-banner .slider-nav.right-top-sldr {
        height: 306px;
    }
    .right-banner .slider-nav .slider-cat {
        margin-bottom: 28px;
        font-size: 15px;
    }
    .right-banner {
        margin-left: 0;
    }
    .right-banner .slider-nav.right-top-sldr{
        align-items: normal;
        padding-top: 40px;
    }
    .right-banner .right-btm-sldr .bnr-page-blk {
        height: 121px;
        width: 121px;
        font-size: 21px;
        line-height: 1.4;
    }
    .right-banner .slider-nav h2{
        font-size: 32px;
    }
    .right-banner .slider-nav .slider-cat{
        font-size: 15px;
    }
    .arrow-text p {
        max-width: 315px;
        margin: 0 auto;
    }
    .featured-work h3{
        padding-top: 40px;
        padding-bottom: 50px;
    }
    .featured-work .col-lg-4 .work-block {
        margin: 15px !important;
        margin-top: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 12px !important;
    }
    .featured-work .col-lg-4:not(:nth-child(odd)) .work-block {
        margin-right: 15px !important;
    }
    .form-map .heading-title p {
        margin-bottom: 0;
        line-height: 1.26;
        max-width: 355px;
        margin: 0 auto;
    }
    .form-map .form-wrap ul li:nth-child(2) {
        padding-left: 0;
    }
    .form-map .form-wrap ul li:first-child,
    .form-map .form-wrap ul li:nth-child(2) {
        width: 100%;
        float: none;
    }
    .form-map .form-wrap {
        padding: 40px 18px;
    }
    .copyright-block {
        height: 100%;
    }
    .copyright-block p {
        font-size: 16px;
        text-align: center;
        margin-top: 40px;
        width: 100%;
        justify-content: center;
    }
    .copyright-block p br {
        display: block;
    }
    .copyright-block .footer-links {
        float: none;
        width: 100%;
        text-align: center;
        padding-left: 0;
        margin-top: 12px;
        display: inline-block;
    }
    .copyright-block #top-social {
        width: 100%;
        padding-left: 0;
        text-align: center;
        padding-bottom: 40px;
        padding-top: 8px;
    }
    .arrow-text {
        margin-top: 28px;
    }
    .form-map .btn-wrap-center {
        margin-bottom: 50px;
    }
    .arrow-text .fas {
        margin-bottom: 40px;
    }
    #dp-hamburger .bar1,
    #dp-hamburger .bar2,
    #dp-hamburger .bar3 {
        width: 20px;
    }
    .form-map {
        padding-bottom: 47px;
    }
    .work-block .work-middle p {
        font-size: 18px;
    }
     .work-block .work-middle a {
         font-size: 18px;
         width: 103px;
         height: 35px;
         padding: 0;
         line-height: 30px;
         bottom: -55px;
         min-width: 80%;
     }

     .work-block .work-middle p span {
         display: block;
     }

     .work-block .work-middle p {
         font-size: 18px;
         max-width: 80%;
         margin: 0 auto;
     }

     .work-block .work-middle {
         top: 40%;
     }
     .work-block .work-middle p span:after {
         display: none;
     }
     
}


@media (max-width: 360px) {
    .right-banner .slider-nav .site-btn {
        margin-bottom: 10px;
    }
    .right-banner .slider-nav.right-top-sldr {
        height: 340px;
    }
   
}